@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 16px;
  }

  body {
    font-family: "Montserrat Variable", sans-serif, system-ui;
  }

  h1,
  h2,
  h3 {
    font-family: "Roboto", monospace;
  }

  .btn-primary {
    @apply bg-cblue-500 text-slate-50 hover:text-slate-200;
  }

  .btn-secondary {
    @apply bg-slate-50 text-cblue-700 hover:text-cblue-800 font-medium;
  }

  .text-emphasis {
    @apply font-medium text-cblue-700;
  }
}

@theme {
  --color-cblue-50: #e9f2ff;
  --color-cblue-100: #d8e5ff;
  --color-cblue-200: #b8cfff;
  --color-cblue-300: #8dafff;
  --color-cblue-400: #617fff;
  --color-cblue-500: #3c51ff;
  --color-cblue-600: #1b20ff;
  --color-cblue-700: #1719f2;
  --color-cblue-800: #1115c2;
  --color-cblue-900: #171d98;
  --color-cblue-950: #0e0f58;

  --animate-load-image: kf-opacity 200ms ease-in;

  @keyframes kf-opacity {
    0% {
      opacity: 0.1;
    }

    100% {
      opacity: 1;
    }
  }
}
