---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Experience from "@/sections/Experience.astro";
import Projects from "@/sections/Projects.astro";
import AboutMe from "@/sections/AboutMe.astro";
---

<Layout title="Portfolio Ignacio Fernández Jeansalle" description="Desarrollador de software e interfaces de ususario">
  <main class="pt-12">
    <Hero />
    <Experience />
    <Projects />
    <AboutMe />
  </main>
</Layout>
