---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio Ignacio Fernández Jeansalle" description="Desarrollador de software e interfaces de ususario">
  <header>
    <nav>
      <a href="/#hero">Inicio</a>
      <a href="/#experiencia">Experiencia</a>
      <a href="/#proyectos">Proyectos</a>
      <a href="/#sobre-mi">Sobre mí</a>
      <a href="/#contacto">Contacto</a>
    </nav>
    <h1>Portfolio NACHO</h1>
  </header>
  <main></main>
  <footer>...</footer>
</Layout>

<style></style>
