---
import { LINKS } from "@data/links";
import Github from "@icons/Github.astro";
import Linkedin from "@icons/Linkedin.astro";
---

<footer class="border-t border-slate-700 py-10">
  <section class="max-w-5xl px-8 mx-auto flex flex-col items-center gap-y-4 sm:flex-row sm:justify-between">
    <p>Ignacio Fernández Jeansalle</p>
    <article class="flex gap-x-6">
      <a href={LINKS.linkedin} target="_blank" aria-label="Ir al perfil de LinkedIn" rel="noopener">
        <Linkedin class="size-6 hover:text-green-500 hover:scale-110" />
      </a>
      <a href={LINKS.github} target="_blank" aria-label="Ir al perfil de GitHub" rel="noopener">
        <Github class="size-6 hover:text-green-500 hover:scale-110" /></a
      >
    </article>
  </section>
</footer>
