---
import IconOpenMenu from "@/icons/IconOpenMenu.astro";
import IconCloseMenu from "@/icons/IconCloseMenu.astro";
import IconExperienceFE from "@/icons/IconExperienceFE.astro";
import IconProjects from "@/icons/IconProjects.astro";
import IconAboutMe from "@/icons/IconAboutMe.astro";

const NAV_SECTIONS = [
  {
    label: "Experiencia",
    href: "/#experiencia",
    icon: IconExperienceFE,
  },
  {
    label: "Proyectos",
    href: "/#proyectos",
    icon: IconProjects,
  },
  {
    label: "Sobre mí",
    href: "/#sobre-mi",
    icon: IconAboutMe,
  },
];
---

<header class="fixed top-0 left-0 w-full z-10 h-14 bg-gray-950 border-b border-gray-700">
  <nav class="max-w-5xl px-8 mx-auto h-full flex justify-between items-center">
    <a class="text-3xl text-gray-300 font-semibold hover:text-green-500" href="/" aria-label="Ir al inicio">IFJ</a>

    <div
      id="navMenu"
      class="fixed top-0 left-[-200%] bg-gray-950 bottom-0 w-full transition-[left] sm:static sm:w-auto sm:bg-transparent"
    >
      <ul class="py-24 w-full flex flex-col gap-y-8 sm:gap-x-2 md:gap-x-4 sm:flex-row sm:py-0">
        {
          NAV_SECTIONS.map((section) => (
            <li class="py-1 px-8 sm:py-0 sm:px-1">
              <a
                class="nav-sections hover:text-green-500 text-3xl sm:text-base md:text-lg"
                href={section.href}
                aria-label={section.label}
              >
                <span class="flex items-center gap-x-2">
                  <section.icon class="size-7 sm:size-6" />
                  {section.label}
                </span>
              </a>
            </li>
          ))
        }
      </ul>

      <button id="navBtnClose" class="absolute top-4 right-8 text-gray-300 hover:text-green-500 sm:hidden">
        <IconCloseMenu />
      </button>
    </div>

    <button id="navBtnOpen" class="text-gray-300 hover:text-green-500 sm:hidden">
      <IconOpenMenu />
    </button>
  </nav>
</header>

<script>
  const $navMenu = document.getElementById("navMenu");
  const $navBtnOpen = document.getElementById("navBtnOpen");
  const $navBtnClose = document.getElementById("navBtnClose");
  const $navSections = document.getElementsByClassName("nav-sections");

  const openMenu = () => {
    $navMenu?.classList.remove("left-[-200%]");
    $navMenu?.classList.add("left-0");
  };

  const closeMenu = () => {
    $navMenu?.classList.remove("left-0");
    $navMenu?.classList.add("left-[-200%]");
  };

  $navBtnOpen?.addEventListener("click", (event) => {
    event.stopPropagation();
    openMenu();
  });

  $navBtnClose?.addEventListener("click", (event) => {
    event.stopPropagation();
    closeMenu();
  });

  for (let i = 0; i < $navSections.length; i++) {
    $navSections[i].addEventListener("click", (event) => {
      event.stopPropagation();
      closeMenu();
    });
  }
</script>
