---
import Section from "@/components/Section.astro";
import IconAboutMe from "@/icons/IconAboutMe.astro";
---

<Section id="sobre-mi" class="py-16">
  <h2 class="flex items-center gap-x-2 text-3xl"><IconAboutMe />Sobre mí</h2>
</Section>
