---
import Section from "@components/Section.astro";
import IconExperience from "@icons/IconExperience.astro";
---

<Section id="experiencia" class="py-16">
  <h2 class="flex items-center gap-x-2 text-3xl"><IconExperience /> Experiencia frontend</h2>
  <ul>
    <li>* Atlantida Diving School</li>
    <li>* Sobrenatural nutrición</li>
    <li>* Atlantida Diving School (autodidacta)</li>
  </ul>

  <h2 class="flex items-center gap-x-2 text-3xl"><IconExperience /> Experiencia industrial</h2>
  <ul>
    <li>* Ingeniero especialista - Siemens</li>
    <li>* Jefe de automatización - Prodigyo</li>
    <li>* Lider de proyectos - Trend Ingeniería</li>
    <li>* Programador SR - Trend Ingeniería</li>
    <li>* Programador SSR - C Net</li>
    <li>* Programador JR - G Flow</li>
  </ul>
</Section>
