---
import Section from "@components/Section.astro";
---

<Section class="py-16 flex flex-col sm:flex-row justify-between items-center gap-12">
  <div class="max-w-2xl order-2 sm:order-1">
    <h1 class="text-2xl md:text-4xl mb-1">Ignacio Fern치ndez Jeansalle</h1>
    <p class="text-xl md:text-2xl text-green-500 font-semibold text-balance">Desarrollador de software</p>
    <p class="text-base md:text-xl text-pretty mt-4">
      <span class="text-green-500">+15 a침os</span> de experiencia como desarrollador de software de PLC y desarrollo UX/UI
      en HMI/SCADA de m치quinas industriales y l칤neas de producci칩n 游낈. <span class="text-green-500">+3 a침os</span> desarrollando
      software web 游눹.
    </p>
  </div>
  <img
    src="/img/profile.webp"
    alt="Foto de perfil de Ignacio Fern치ndez Jeansalle"
    class="size-36 sm:size-48 order-1 sm:order-2 drop-shadow-[0px_0px_8px_rgba(134,239,172,0.25)]"
  />
</Section>
