---
import { LINKS } from "@/data/links";
import Section from "@/components/Section.astro";
import Pill from "@/components/Pill.astro";
import IconLinkedin from "@/icons/IconLinkedin.astro";
import IconGithub from "@/icons/IconGithub.astro";
import IconCopy from "@/icons/IconCopy.astro";
import IconCV from "@/icons/IconCV.astro";
---

<div class="min-h-svh bg-cblue-700">
  <Section class="text-slate-50">
    <header class="pt-40 sm:pt-48 flex flex-col sm:flex-row justify-between gap-6">
      <div class="order-2 sm:order-1">
        <h1
          class="max-w-xl text-4xl min-[350px]:text-5xl min-[420px]:text-6xl min-[540px]:text-7xl min-[820px]:text-8xl font-light uppercase mb-4"
        >
          Ignacio Fernández Jeansalle
        </h1>
        <p class="text-xs sm:text-lg tracking-[0.25rem] font-medium text-balance text-yellow-300 uppercase">
          Desarrollador de software
        </p>
      </div>
      <img
        src="/img/profile.webp"
        alt="Foto de perfil de Ignacio Fernández Jeansalle"
        class="order-1 sm:order-2 size-20 min-[500px]:size-28 md:size-36 min-[830px]:size-40 min-[900px]:size-52 rounded"
      />
    </header>
    <main class="pt-12 sm:pt-20">
      <p class="max-w-2xl text-base md:text-xl text-pretty">
        <span class="text-yellow-300 font-medium">+17 años</span> de experiencia como desarrollador de software de PLC y
        desarrollo UX/UI en HMI/SCADA de máquinas industriales y líneas de producción. <span
          class="text-yellow-300 font-medium">+3 años</span
        > desarrollando software web.
      </p>
    </main>
    <footer class="pt-10 pb-20">
      <nav class="flex flex-wrap gap-3">
        <Pill href={LINKS.linkedin} ariaLabel="Ir al perfil de LinkedIn" class="btn-primary">
          <IconLinkedin class="size-4" />
          <span>Linkedin</span>
        </Pill>
        <Pill href={LINKS.github} ariaLabel="Ir al perfil de GitHub" class="btn-primary">
          <IconGithub class="size-4" />
          <span>Github</span>
        </Pill>
        <Pill href="/cv/CV Ignacio Fernández Jeansalle.pdf" ariaLabel="Ir al Curriculum Vitae" class="btn-primary">
          <IconCV class="size-4" />
          <span>CV</span>
        </Pill>
        <Pill
          id="copy-to-clipboard"
          class="btn-primary"
          type="button"
          ariaLabel="Copiar dirección de correo electrónico al portapapeles"
        >
          <IconCopy class="size-4" />
          <span>{LINKS.gmail}</span>
        </Pill>
      </nav>
    </footer>
  </Section>
</div>

<script>
  const mail = "ignaciofj@gmail.com";
  const $btnCopyToClipboard = document.getElementById("copy-to-clipboard");
  const $spanText = $btnCopyToClipboard.getElementsByTagName("span");

  const changeTextButton = () => {
    $spanText[0].innerHTML = "Copiado ✅";
    setTimeout(() => {
      $spanText[0].innerHTML = mail;
    }, 1500);
  };

  const copyToClipboard = () => {
    navigator.clipboard.writeText(mail).then(changeTextButton);
  };

  $btnCopyToClipboard.addEventListener("click", copyToClipboard);
</script>
