---
import { LINKS } from "@data/links";
import Section from "@components/Section.astro";
import Pill from "@components/Pill.astro";
import IconLinkedin from "@/icons/IconLinkedin.astro";
import IconGithub from "@/icons/IconGithub.astro";
import IconCopy from "@/icons/IconCopy.astro";
---

<Section class="py-16 flex flex-col sm:flex-row justify-between items-center gap-12">
  <div class="max-w-2xl order-2 sm:order-1">
    <h1 class="text-2xl md:text-4xl mb-1">Ignacio Fernández Jeansalle</h1>
    <p class="text-xl md:text-2xl text-green-500 font-semibold text-balance">Desarrollador de software</p>
    <p class="text-base md:text-xl text-pretty mt-4">
      <span class="text-green-500">+15 años</span> de experiencia como desarrollador de software de PLC y desarrollo UX/UI
      en HMI/SCADA de máquinas industriales y líneas de producción 🏭. <span class="text-green-500">+3 años</span> desarrollando
      software web 💻.
    </p>
    <div class="flex flex-wrap gap-4 mt-8">
      <Pill href={LINKS.linkedin} ariaLabel="Ir al perfil de LinkedIn">
        <IconLinkedin class="size-4" />
        <span>Linkedin</span>
      </Pill>
      <Pill href={LINKS.github} ariaLabel="Ir al perfil de GitHub">
        <IconGithub class="size-4" />
        <span>Github</span>
      </Pill>
    </div>

    <button
      id="copy-to-clipboard"
      class="mt-4 flex items-center gap-x-1 sm:gap-x-2 border border-slate-500 rounded-xl py-1 px-4 hover:text-green-500 hover:scale-105 h-full bg-slate-800 text-sm sm:text-base"
    >
      <IconCopy class="size-4" />
      <span>{LINKS.gmail}</span>
    </button>
  </div>
  <img
    src="/img/profile.webp"
    alt="Foto de perfil de Ignacio Fernández Jeansalle"
    class="size-36 sm:size-48 order-1 sm:order-2 drop-shadow-[0px_0px_8px_rgba(134,239,172,0.25)]"
  />
</Section>

<script>
  const mail = "ignaciofj@gmail.com";
  const $btnCopyToClipboard = document.getElementById("copy-to-clipboard");
  const $spanText = $btnCopyToClipboard.getElementsByTagName("span");

  const changeTextButton = () => {
    $spanText[0].innerHTML = "Copiado ✅";
    setTimeout(() => {
      $spanText[0].innerHTML = mail;
    }, 1000);
  };

  const copyToClipboard = () => {
    navigator.clipboard.writeText(mail).then(changeTextButton);
  };

  $btnCopyToClipboard.addEventListener("click", copyToClipboard);
</script>
