---
import "@fontsource-variable/jetbrains-mono"; // Supports weights 100-800
import "@fontsource-variable/montserrat"; // Supports weights 100-900
import "@fontsource/roboto/100.css";
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import "@fontsource/roboto/900.css";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Ignacio Fernández Jeansalle" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="relative bg-slate-50 text-slate-950 text-base">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 16px;
  }

  body {
    font-family: "Montserrat Variable", sans-serif, system-ui;
  }

  h1,
  h2,
  h3 {
    /* font-family: "JetBrains Mono Variable", monospace; */
    font-family: "Roboto", monospace;
  }

  .btn-primary {
    @apply bg-cblue-500 text-slate-50 hover:text-slate-200;
  }

  .btn-secondary {
    @apply bg-slate-50 text-cblue-700 hover:text-cblue-800 font-medium;
  }

  .text-emphasis {
    @apply font-medium text-cblue-700;
  }
</style>
